.App {
  text-align: center;

  .errors {
    color: red;
    font-weight: bold;
  }

  nav {
    margin: auto;
    padding-top: 20px;
    a {
      padding: 10px;
      text-decoration: none;
      font-weight: bold;
      color: rgb(149, 120, 120);
    }
  }
}
