.App {
  text-align: center;

  .errors {
    color: red;
    font-weight: bold;
  }
  .books {
    margin: auto;
    width: 500px;
    .book {
      margin: 10px;
      padding: 10px 0;
      border-radius: 20px;
      color: grey;
      background-color: lightgrey;

      & > :last-child {
        font-size: 0.8em;
      }
    }
  }

  nav {
    margin: auto;
    padding-top: 20px;
    a {
      padding: 10px;
      text-decoration: none;
      font-weight: bold;
      color: rgb(149, 120, 120);
    }
  }
}
